{% extends 'home.html' %}

{% load static %}

{% block title %}Basic Upload{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'jquery-file-upload/jquery.fileupload.js' %}"></script>

{% endblock %}

{% block content %}
  <div style="margin: 20px;">
    <button type="button" class="btn btn-primary js-upload-videos">
      <span class="glyphicon glyphicon-cloud-upload"></span> Upload videos
    </button>
    <input id="fileupload" type="file" name="file" multiple
           style="display: none;"
           data-url="{% url 'basic_upload' %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
  </div>
  {% for video in videos %}
    <a style="display:block;" href="{{ video.file.url }}">{{ video.file.name }}</a>
  {% endfor %}
{% endblock %}
