{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Museai Vision</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'bootstrap/css/simple-sidebar.css' %}" rel="stylesheet">
  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <style>
  .fa-plus{
    position: relative;
    top:-1px;
    right: 1px;
}
.table tr {
    cursor: pointer;
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}
.videos {
  width:100%;
  clear: both;
}

video {
  width: 600px;
  height: 360px;
}

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: hidden;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}
.action-bar button {
  float:right;
  margin: 10px;
  visibility: hidden;
}
  </style>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    {% block sidebar %}
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Museai Web Portal</div>
      <div class="list-group list-group-flush">
        <a href="{% url 'albums' %}" class="list-group-item list-group-item-action bg-light">My Albums</a>
        <a href="{% url 'basic_upload' %}" class="list-group-item list-group-item-action bg-light">My Videos</a>
      </div>
    </div>
    {% endblock %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#" id="create-album">
                <i class="fas fa-plus fa-xs"></i>
                Create Album
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.get_username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                <!---
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              -->
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <form action="{% url 'actions-albums' %}" method="POST">
      <div class="action-bar container-fluid">
        <button type="submit" name="delete" class="btn btn-primary">Delete Album</button>
        <button type="button" class="btn btn-primary">Merge Albums</button>
        <button type="submit" name="train" class="btn btn-primary">Train Album</button>
      </div>
      <div class="container-fluid">
        {% block content %}
        <h1 class="mt-4">Simple Sidebar</h1>
        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
        {% endblock %}
      </div>
    </form>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
    </div>
    </div>
  </div>
  <div id="light">
<a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
<video id="VisaChipCardVideo" width="600" controls>
  <source src="" type="video/mp4">
</video>
</div>

<div id="fade" onClick="lightbox_close();"></div>

    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->

  <!-- Menu Toggle Script -->
  <script>

  $("#create-album").modalForm({
       formURL: "{% url 'album_create' %}"
   });
   $(".update-album").each(function () {
     $(this).modalForm({formURL: $(this).data('id')});
   });
   $(".delete-album").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

    window.document.onkeydown = function(e) {
  if (!e) {
    e = event;
  }
  if (e.keyCode == 27) {
    lightbox_close();
  }
}

function lightbox_open(url) {
  window.scrollTo(0, 0);
  $('#light').css('display', 'block');
  $('#fade').css('display', 'block');
  console.log(url);
  $('#VisaChipCardVideo source').attr('src', url);
  $("#VisaChipCardVideo")[0].load();
  $('#VisaChipCardVideo')[0].play();
  console.log("play")
}

function lightbox_close() {
  $('#light').css('display', 'none');
  $('#fade').css('display', 'none');
  $('#VisaChipCardVideo')[0].pause();
}


  $('tbody').find('tr').each(function(i, el) {
           var id = $(el).attr("id");
           id = id.substr(3);
           $(el).find("#viewAlbum").attr("href", "#album" + id);
           $(el).after("<div data-videos-url='{% url 'ajax_load_videos' %}' id='album"+id+"' class='videos accordion-body collapse'></div>");
    });
    $("a#viewAlbum").click(function () {
        var albumId = $(this).attr('href');
        albumId = albumId.substr(6);
        console.log(albumId);
        $.ajax({                       // initialize an AJAX request
          url: "{% url 'ajax_load_videos' %}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'album': albumId       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#album" + albumId).html(data);
            console.log(data); // replace the contents of the city input with the data that came from the server
          }
        });


      });
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
$('#delete').on('show.bs.modal', function (e) {

var button = $(e.relatedTarget);
var modal = $(this);

// load content from HTML string
//modal.find('.modal-body').html("Nice modal body baby...");

// or, load content from value of data-remote url
modal.find('.modal-body').load(button.data("remote"));

});

    function toggle(source) {
    checkboxes = document.getElementsByName('selection');
    for(var i in checkboxes)
        checkboxes[i].checked = source.checked;
      }

      $("[name='selection']").change(function() {
        if ($("#albumTable input:checkbox:checked").length > 0) {
          $(".action-bar button").css("visibility","visible");
        }
        else {
          $(".action-bar button").css("visibility","hidden");
        }
});
  </script>


</body>

</html>
