{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Museai Vision</title>


  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'bootstrap/css/simple-sidebar.css' %}" rel="stylesheet">
  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <script src="{% static 'jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'jquery-file-upload/jquery.fileupload.js' %}"></script>
  <style>
  .fa-plus{
    position: relative;
    top:-1px;
    right: 1px;
}
.table {
  table-layout: fixed;
}
.table tr {
    cursor: pointer;
}
.hiddenRow {
    padding: 0 4px !important;
    background-color: #eeeeee;
    font-size: 13px;
}
.videos {
  float:left;
}

video {
  width: 600px;
  height: 360px;
}

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: hidden;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}
.action-bar button {
  float:right;
  margin: 10px;
  visibility: hidden;
}
.alert {
  margin:10px;
}
#upload-progress {
  display: none;
  margin: 10px;
}
  </style>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    {% block sidebar %}
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Museai Web Portal</div>
      <div class="list-group list-group-flush">
        <a href="{% url 'albums' %}" class="list-group-item list-group-item-action bg-light">My Albums</a>
      </div>
    </div>
    {% endblock %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#" id="create-album">
                <i class="fas fa-plus fa-xs"></i>
                Create Album
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.get_username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                <!---
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              -->
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <form action="{% url 'actions-albums' %}" method="POST">
      <div class="action-bar container-fluid">
        <div id="upload-progress">
        <h6>Uploading...</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
        </div>
      </div>
        <button type="submit" name="delete" class="btn btn-primary">Delete Album</button>
        <!--<button type="button" class="btn btn-primary">Merge Albums</button>-->
        <button type="submit" name="train" class="btn btn-primary">Train Album</button>
        {% block alert %}
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
           {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger alert-dismissible fade show">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
          </div>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="alert alert-success alert-dismissible fade show">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
          </div>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        {% endblock %}
      </div>
      <div class="container-fluid">
        {% block content %}
        {% endblock %}
      </div>
    </form>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
    </div>
    </div>
  </div>
  <div id="light">
<a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
<video id="VisaChipCardVideo" width="600" controls>
  <source src="" type="video/mp4">
</video>
</div>

<div id="fade" onClick="lightbox_close();"></div>

    <!-- /#page-content-wrapper -->

  </div>

  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->

  <!-- Menu Toggle Script -->
  <script>
  $("tr[data-model-status='t']").addClass("table-success");
  $("tr[data-model-status='s']").addClass("table-danger");
  $("tr[data-model-status='t']").find('td:eq(5)').append("<img style=' margin-left: 7px; width: 25px; height: 25px;' src='{% static 'Gear-3.4s-200px.gif' %}'>");
  $("#create-album").modalForm({
       formURL: "{% url 'album_create' %}"
   });
   $(".update-album").each(function () {
     $(this).modalForm({formURL: $(this).data('id')});
   });
   $(".delete-album").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });


window.document.onkeydown = function(e) {
  if (!e) {
    e = event;
  }
  if (e.keyCode == 27) {
    lightbox_close();
  }
}

function lightbox_open(url) {
  window.scrollTo(0, 0);
  $('#light').css('display', 'block');
  $('#fade').css('display', 'block');
  console.log(url);
  $('#VisaChipCardVideo source').attr('src', url);
  $("#VisaChipCardVideo")[0].load();
  $('#VisaChipCardVideo')[0].play();
  console.log("play")
}

function lightbox_close() {
  $('#light').css('display', 'none');
  $('#fade').css('display', 'none');
  $('#VisaChipCardVideo')[0].pause();
}


  $('tbody').find('tr').each(function(i, el) {
           var id = $(el).attr("id");
           id = id.substr(3);
           $(el).find("#viewAlbum").attr("href", "#album" + id);
           $(el).after("<tbody data-videos-url='{% url 'ajax_load_videos' %}' id='album"+id+"' class='videos accordion-body collapse'></tbody>");
    });

    $("a#viewAlbum").click(function () {
        var albumId = $(this).attr('href');
        albumId = albumId.substr(6);
        console.log(albumId);
        $.ajax({
          url: "{% url 'ajax_load_videos' %}",
          data: {
            'album': albumId
          },
          success: function (data) {
            $("#album" + albumId).html(data);
            $(".delete-video").each(function () {
               $(this).modalForm({formURL: $(this).data('id')});

            });

            console.log(data);
          }
        });

      });
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
$('#delete').on('show.bs.modal', function (e) {

var button = $(e.relatedTarget);
var modal = $(this);

// load content from HTML string
//modal.find('.modal-body').html("Nice modal body baby...");

// or, load content from value of data-remote url
modal.find('.modal-body').load(button.data("remote"));

});


    function toggle(source) {
    checkboxes = document.getElementsByName('selection');
    for(var i in checkboxes) {
        checkboxes[i].checked = source.checked;
      }
    }

      $("[name='selection'], thead input").change(function() {
        if ($("#albumTable input:checkbox:checked").length > 0) {
          $(".action-bar button").css("visibility","visible");
        }
        else {
          $(".action-bar button").css("visibility","hidden");
        }
});

      setInterval(function() {
      ids = []
      $("tbody").find("tr").each(function(i, el) {
        var id = $(el).attr("id");
        id = id.substr(3);
        ids.push(id);
      });
      $.ajax({
        url: "{% url 'ajax_get_status' %}",
        data: {
          'albums': JSON.stringify(ids)
          },
        success:
          function(data){
            $("tbody").find("tr").each(function(i, el) {
              if (data[i] == "s") {
                $(el).removeClass("table-success");
                $(el).addClass("table-danger");
                $(el).find('td:eq(5)').text("Not trained");
                console.log("not trained");
              } else if (data[i] == "t") {
                $(el).removeClass("table-danger");
                $(el).addClass("table-success");
                $(el).find('td:eq(5)').html("Training <img style=' margin-left: 10px; width: 25px; height: 25px;' src='{% static 'Gear-3.4s-200px.gif' %}'>");
                //$(el).find('td:eq(5)').append("<img style=' margin-left: 5px; width: 30px; height: 30px;' src='{% static 'Gear-3.4s-200px.gif' %}'>");
                console.log("training");
              } else {
                  console.log("created");
                  $(el).find('td:eq(5)').text("Created");
                  $(el).removeClass("table-success");
                  $(el).removeClass("table-danger");
                  $(el).find('td:eq(5)').find("img").css("display", "none");
              }
            })
        },
        complete: function() {
       // Schedule the next request when the current one's complete
       //setInterval(sendRequest, 5000); // The interval set to 5 seconds
       console.log(ids);
     }
    });
  }, 5000);



$(".js-upload-videos").click(function () {
  id = $(this).attr("data-id");
  $("#fileupload" + id).click();
  $("#fileupload" + id).fileupload({
    dataType: 'json',
    sequentialUploads: true,  /* 1. SEND THE FILES ONE BY ONE */
   start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
     $("#upload-progress").css("display", "block");
   },
   stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
     $("#upload-progress").css("display", "none");
   },
   progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
     var progress = parseInt(data.loaded / data.total * 100, 10);
     var strProgress = progress + "%";
     $(".progress-bar").css({"width": strProgress});
     $(".progress-bar").text(strProgress);
   },
    done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
      if (data.result.is_valid) {
        console.log(data.result.url);
        console.log(data.result.name);
      } else {
        console.log("wrong");
        console.log(e);
      }
    }
  });
});

  </script>


</body>

</html>
